[Unit]
Description=cAdvisor
After=network.target

[Service]
ExecStart=/usr/local/bin/cadvisor \
    --port=8080 \
    --storage_driver=prometheus \
    --storage_driver_host=prometheus:9090
Restart=always

[Install]
WantedBy=multi-user.target