[req]
days                   = 365
serial                 = 1
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
x509_extensions        = v3_ca

[req_distinguished_name]
countryName            = FR
stateOrProvinceName    = France
localityName           = Local
organizationName       = LocalDev
organizationalUnitName = Development
commonName             = localhost

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = critical, CA:TRUE, pathlen:3
keyUsage              = critical, cRLSign, keyCertSign

[ v3_req ]
basicConstraints       = CA:FALSE
keyUsage              = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName        = @alt_names

[alt_names]
DNS.1  = localhost
DNS.2  = *.localhost
DNS.3  = traefik.localhost
DNS.4  = mailhog.localhost
DNS.5  = phpmyadmin.localhost
